body h1{
	color: blue;
	text-align: center;
	font-size: 42px;
}

.logout{
	text-align: right;
}
/*-------------------------------android form---------------------------*/
.form-control{
	width: 40%;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid grey;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}
.androLabel{
	margin-bottom: 10px;
    font-family: sans-serif;
}
.side-bar h3{
	font-family: sans-serif;
}
.addImage{
	float: right;
}
.addImage:hover{
        cursor: pointer;
}	
.saveAndroid{
	width: 50%;
	margin-left: 110px;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
}
.cats{
	align-items: right;
}
/*------------------------------side menu-----*/
.side-menu{
	height: 421px;
	width: 18%;
	font-size:14px;
	float: left;
	z-index: 2;
	background-color: white;
	box-shadow: 1px 1px 4px 1px;
}
.side-menu ul{
	margin-left: -30px;
}
.side-menu ul li{
	list-style-type: none;
	font-weight: bold;
	margin-top: 20px;
}
.side-menu ul li i{
	font-size: 13px;
}
/*----------admin info------*/
.admin-info{
	height: 421px;
	width: 20%;
	font-size: 14px;
	float: right;
	background-color: white;
	box-shadow: 1px 1px 4px 1px;
	margin-right: 7px;
	margin-top: -420px;
}
/*----------------option---------------*/
.option{
	cursor: pointer;
}
/*------------------quantity-------------*/
.quantity{
	float: left;
	margin-left: 5px;
	background: transparent;
}
.qLabel{
	float: left;
	font-family: sans-serif;
}
.imageLabel{
	margin-left: 5px;
	font-family: sans-serif;
}
.img{
	
	
	border-radius: 0 0 50% 50%;
}
/* slider */
.sli{
	margin-left: 19%;
	margin-right: 39%;
	width: 60%;
	height: 421px !important;
}
.slider img{
	height: 421px;
}